*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Fredoka', sans-serif;
    background: #f2ceda58;
}

.btn{
    color: #FAFAFA;

font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 5px;
background: #D23166;
padding: 15px 50px;
border: none;
}


.header {
}
.container {
    width: 80%;
    margin: 0 auto;
}
.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
}
.header__menu {
    display: flex;
    gap: 40px;
}
.header__link {
    color: #150101;
text-decoration: none;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.header__link:hover{
    color: #D23166;
}
.header__btn {
    
}
















.feel{

    padding-top: 50px;
}
.feel__wrap {
    display: flex;
    align-items: center;
}
.feel__box {
    

}
.feel__subtitle {
    color: #0F0101;

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.4px;
}
.feel__title {
    color: #0F0101;

font-size: 57.33px;
font-style: normal;
font-weight: 600;
line-height: 120.5%; /* 69.083px */
}
 .feel__title span{
    color:#D23166;
 }
.feel__text {
    color: #0F0101;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */

padding: 35px 0 50px;
}
.feel__btn {
}

.feel__img {
    width: 50%;
    animation: ice 1s infinite alternate linear;
}

.plan {
    background: #FFF; 
    padding-bottom: 100px;
    padding-top: 100px;
}
.container {
    
   
}
.plan__cards {
    display: flex;
    gap: 40px;
}
.plan__card {
    border-radius: 7px;
background: #FFF;
box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);

width: 250px;
height: 200px;
flex-shrink: 0;


}
.plan__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 35px;
    
}
.plan__title {
    color: #000;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 25px;
}
.plan__text {
    color: #000;
text-align: center;
padding-top: 10px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 30px;
}

.plan__card .card-4{
    padding-top: 20px;
}

.sugar {
    padding-top: 50px;
   
}
.container {
    
}
.sugar__wrap {
    display: flex;
    align-items: center;
}
.sugar__box {
}
.sugar__title {

    width: 349px;
height: 98.27px;
flex-shrink: 0;

    color: #0F0101;

    font-size: 57.33px;
    font-style: normal;
    font-weight: 600;
    line-height: 120.5%;
}
.sugar__text {
    color: #0F0101;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; 

padding: 35px 0 50px;
padding-top: 15px;
padding-bottom: 35px;
}
.sugar__btn .btn {
    padding-top: 35px;
    padding-bottom: 145px;
}

.sugar__img {
    width: 50%;
    width: 655px;
height: 656.804px;
flex-shrink: 0;
}

.product {
    background: #FFF;
}
.container {
}
.product__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.product__title{
    padding-top: 140px;
    padding-bottom: 65px;

    color: #150101;

font-size: 44.2px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.product__menu {
    display: flex;
    gap: 40px;
    padding-left: 160px;
    padding-bottom: 50px;

    color: gray;

font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

text-decoration: none;
}
.product__link {
}

.product__link .black{
    color: #000;
    text-decoration: solid;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.brown {
}
.container {
}
.brown__wrap {
}
.price{
    display: flex;
}
.brown__box {
}
.brown__title {
}
.brown__text {
}
.brown__btn {
}
.btn {
}
.brown__img {
}


@media (max-width:1100px) {
    .feel__title{
        font-size: 40px;
    }
}


@media (max-width:900px){
.container{
    width: 90%;
}

.header__menu{
    display: none;
}
}



@media (max-width:600px){
    .feel__wrap{
        flex-direction: column-reverse;
    }

    .feel__img{
        width: 85%; 
    }

    .feel__title{
        font-size: 35px; 
    }

    .feel__box{
        text-align: center;
    }
}


@keyframes ice {
   0%{
    transform: translateY(0px);
   } 
   100%{
    transform: translateY(10px);
   }
}